<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>See Your Changes Happen!!!</string>
			<key>label</key>
			<string>HomeSwitcher</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HSInstructionsController</string>
			<key>label</key>
			<string>Instructions - Please Read</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showOrHide</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>icon</string>
			<key>label</key>
			<string>Show/Hide HomeSwitcher</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>OPTIONS</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.kaneb.HomeSwitcher/HSPrefChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.kaneb.HomeSwitcher</string>
			<key>key</key>
			<string>alwaysOnHomescreen</string>
			<key>id</key>
			<string>alwaysOnHomescreen</string>
			<key>label</key>
			<string>Show On Selected Page</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.kaneb.HomeSwitcher/HSPrefChanged</string>
			<key>cellClass</key>
			<string>KBStepperCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.kaneb.HomeSwitcher</string>
			<key>key</key>
			<string>pageSliderNumber</string>
			<key>label</key>
			<string>Selected HomePage:</string>
			<key>minimum</key>
			<string>0</string>
			<key>maximum</key>
			<string>10</string>
			<key>stepValue</key>
			<string>1</string>
			<key>dependsOnID</key>
			<string>alwaysOnHomescreen</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.kaneb.HomeSwitcher/HSPrefChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.kaneb.HomeSwitcher</string>
			<key>key</key>
			<string>verticalMode</string>
			<key>label</key>
			<string>Enable Vertical Mode</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.kaneb.HomeSwitcher/HSPrefChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.kaneb.HomeSwitcher</string>
			<key>key</key>
			<string>overlapStatusBar</string>
			<key>label</key>
			<string>Can Overlap StatusBar</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.kaneb.HomeSwitcher/HSCollectionViewPrefChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.kaneb.HomeSwitcher</string>
			<key>key</key>
			<string>freeFlowScrolling</string>
			<key>label</key>
			<string>Enable Free Flow Scrolling </string>
		</dict>
		<dict>
			<key>key</key>
			<string>selectedApps</string>
			<key>defaults</key>
			<string>com.kaneb.HomeSwitcher</string>
			<key>postNotification</key>
			<string>com.kaneb.HomeSwitcher/HSCollectionViewPrefChanged</string>
			<key>appList</key>
			<string>allApps</string>
			<key>label</key>
			<string>Choose Apps To Blur</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ALViewController</string>
			<key>icon</key>
			<string>hide</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.kaneb.HomeSwitcher/HSPrefChanged</string>
			<key>cellClass</key>
			<string>KBStepperCell</string>
			<key>default</key>
			<integer>50</integer>
			<key>defaults</key>
			<string>com.kaneb.HomeSwitcher</string>
			<key>id</key>
			<string>appcardSizeId</string>
			<key>key</key>
			<string>appcardSize</string>
			<key>label</key>
			<string>AppCards Size:</string>
			<key>minimum</key>
			<string>10</string>
			<key>stepValue</key>
			<string>5</string>
			<key>showPercentage</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.kaneb.HomeSwitcher/HSPrefChanged</string>
			<key>cellClass</key>
			<string>KBStepperCell</string>
			<key>default</key>
			<integer>30</integer>
			<key>defaults</key>
			<string>com.kaneb.HomeSwitcher</string>
			<key>id</key>
			<string>shadowRadiusId</string>
			<key>key</key>
			<string>shadowRadius</string>
			<key>label</key>
			<string>Shadow Radius:</string>
			<key>minimum</key>
			<string>0</string>
			<key>stepValue</key>
			<string>5</string>
			<key>showPercentage</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.kaneb.HomeSwitcher/HSPrefChanged</string>
			<key>cellClass</key>
			<string>KBStepperCell</string>
			<key>default</key>
			<integer>20</integer>
			<key>defaults</key>
			<string>com.kaneb.HomeSwitcher</string>
			<key>id</key>
			<string>gestureViewThickness</string>
			<key>key</key>
			<string>gestureViewThickness</string>
			<key>label</key>
			<string>Hidden Views Thickness</string>
			<key>minimum</key>
			<string>10</string>
			<key>stepValue</key>
			<string>5</string>
			<key>showPercentage</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.kaneb.HomeSwitcher/HSPrefChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.kaneb.HomeSwitcher</string>
			<key>key</key>
			<string>draggableSwitcher</string>
			<key>label</key>
			<string>Enable Moving Of Switcher</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Requires Activator To Be Installed</string>
			<key>label</key>
			<string>ACTIVATOR OPTIONS</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.kaneb.HomeSwitcher/HSLoadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.kaneb.HomeSwitcher</string>
			<key>key</key>
			<string>activatorGesturesEnabled</string>
			<key>label</key>
			<string>Enable Activator Gestures</string>
		</dict>
		<dict>
			<key>activatorListener</key>
			<string>com.indiedevkb.showSwitcher</string>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>icon</key>
			<string>icon.png</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Show HomeSwitcher</string>
		</dict>
		<dict>
			<key>activatorListener</key>
			<string>com.easyaccess.toggleshowing</string>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>icon</key>
			<string>icon.png</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Hide HomeSwitcher</string>
		</dict>
		<dict>
			<key>activatorListener</key>
			<string>com.indiedevkb.toggleSwitcher</string>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>icon</key>
			<string>icon.png</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Show/Hide HomeSwitcher</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Credit to HomeSwitchers Icon Designer @Degrager_Dev</string>
			<key>label</key>
			<string>Developer</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KBFooterCell</string>
			<key>height</key>
			<string>80</string>
			<key>icon</key>
			<string>https://twitter.com/indiedevkb/profile_image</string>
			<key>label</key>
			<string>Kane Buckthorpe</string>
			<key>roundIcon</key>
			<true/>
			<key>socialLinks</key>
			<array>
				<dict>
					<key>icon</key>
					<string>/Library/Frameworks/KBPreferences.framework/twitter</string>
					<key>link</key>
					<string>https://twitter.com/indieDevKB</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>/Library/Frameworks/KBPreferences.framework/paypal</string>
					<key>link</key>
					<string>https://www.paypal.me/kanebuckthorpe/2.00</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Translators</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KBFooterCell</string>
			<key>height</key>
			<string>60</string>
			<key>icon</key>
			<string>https://twitter.com/CelikSerif61/profile_image</string>
			<key>label</key>
			<string>Serif61 - Turkish</string>
			<key>roundIcon</key>
			<true/>
			<key>socialLinks</key>
			<array>
				<dict>
					<key>icon</key>
					<string>/Library/Frameworks/KBPreferences.framework/twitter</string>
					<key>link</key>
					<string>https://twitter.com/CelikSerif61</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>title</key>
	<string>HomeSwitcher</string>
</dict>
</plist>
