Package: com.indiedev.homeswitcher
Name: HomeSwitcher
Depends: mobilesubstrate, com.kaneb.kbpreferences, com.kaneb.kbapplist
Version: 2.3.4
Architecture: iphoneos-arm
Description: Alternative SystemWide App Switcher
Maintainer: indieDev
Author: indieDevKB
Section: Tweaks
